* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    border: solid red 1px;
    width: 1200px;
}

header {
    border: solid black 1px;
    height: 150px;
    width: 100%;
}


aside {
    border: solid black 1px;
    float: left;
    height: 500px;
    width: 300px;
}

main {
    border: solid black 1px;
    width: 898px;
    float: left;
    height: 500px;
}


footer {
    border: solid black 1px;
    clear: left;
    width: 100%;
    height: 100px;
}