* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 18px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: #d49466;
}

.navbar_menu {
    display: flex;
    list-style: none;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.twitter:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.facebook:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar_icon {
    list-style: none;
    color: white;
    display: flex;
}

.navbar_icon li {
    padding: 8px 12px;
}

.navbar_btn {
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_icon {
        justify-content: center;
        width: 100%;
        display: none;
    }
    .navbar_btn {
        display: block;
    }
    .navbar_menu.active,
    .navbar_icon.active {
        display: flex;
    }
}